@model Supermaket.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LayoutLogin";
}

<div class="login-box">
    <div class="login-logo">
        <a asp-controller="Home" asp-action="index"><b>Supermarket</b> </a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Enter your email to receive the password reset code</p>

            <form asp-action="SendResetPasswordLink" method="POST">
                <div class="text-danger" asp-validation-summary="All"></div>

                <!-- Email Input -->
                <div class="input-group mb-3">
                    <input asp-for="Email" class="form-control" placeholder="Enter your email" required />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">                        
                            <label for="remember">
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Send</button>
                    </div>
                </div>
            </form>

            <p class="mb-1">
                <a href="@Url.Action("Login", "User")">Back to Login</a>
            </p>
        </div>
    </div>
</div>
