@model Supermaket.Models.ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LayoutLogin";
}

<div class="login-box">
    <div class="login-logo">
        <a asp-controller="Home" asp-action="index"><b>Supermarket</b></a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Enter your new password</p>

            <form asp-action="ResetPassword" method="POST">
                <input type="hidden" asp-for="Code" />

                <div class="input-group mb-3">
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" required />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>

                <div class="input-group mb-3">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <label for="remember">
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
