@{
    ViewData["Title"] = "Payment Successful";
}

<!-- Payment Successful -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4 text-center">Transaction Successful!</h1>
        <p class="text-center">Thank you for shopping with us. Your transaction ID is <strong>@ViewBag.orderCode</strong></p>
        <p class="text-center">We will process your order immediately.</p>
        <div class="text-center">
            <a href="/" class="btn btn-primary">Return to Home Page</a>
        </div>
    </div>
</div>
