@{
    Layout = "_LayoutCustomer";
    ViewBag.Title = "Order Successful";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 text-success mb-4">Order Successful!</h1>
            <p class="lead mb-4">
                Thank you for ordering from Fruitables. Your order has been received and is being processed.
                We will contact you as soon as possible to confirm the delivery details.
            </p>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">
                Return to Home Page
            </a>
        </div>
    </div>
</div>
