@model IEnumerable<Supermaket.Models.CategoryModel>

<div class="row g-4">
    <div class="col-lg-4 text-start">
        <h1>Categories</h1>
    </div>
    <div class="col-lg-8 text-end">
        <ul class="nav nav-pills d-inline-flex text-center mb-5">
            @foreach (var item in Model)
            {
                <li class="nav-item">
                    <a class="d-flex py-2 m-2 bg-light rounded-pill" asp-controller="Home" asp-action="Index" asp-route-category="@item.CategoryId">
                        <span class="text-dark" style="width: 130px;">@item.CategoryName</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
